@use '../utilityStyles/mixins.scss' as media;

.carousal {
	.container {
		position: relative;
		margin-bottom: 6rem;
	}

	.arrow {
		font-size: 3rem;
		color: black;
		position: absolute;
		top: 44%;
		transform: translateY(-50%);
		cursor: pointer;
		opacity: 0.5;
		z-index: 1;
		display: none;
		@include media.md {
			display: block;
		}
		&:hover {
			opacity: 0.8;
		}
	}

	.carousal-arrow-left {
		left: 3rem;
	}

	.carousal-arrow-right {
		right: 3rem;
	}

	.loading-skeleton {
		display: flex;
		gap: 1rem;
		overflow-y: hidden;
		margin-right: -2rem;
		margin-left: -2rem;
		padding: 0 2rem;
		@include media.md {
			gap: 2rem;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
		.skeleton-item {
			width: 12.5rem;
			@include media.md {
				width: calc(25% - 1.5rem);
			}
			@include media.lg {
				width: calc(20% - 1.6rem);
			}
			flex-shrink: 0;
			.posterBlock {
				border-radius: 1.2rem;
				width: 100%;
				aspect-ratio: 1 / 1.5;
				margin-bottom: 3rem;
			}
			.textBlock {
				display: flex;
				flex-direction: column;
				.title {
					width: 100%;
					height: 2rem;
					margin-bottom: 1rem;
				}
				.date {
					width: 75%;
					height: 2rem;
				}
			}
		}
	}

	.carousal-items {
		display: flex;
		gap: 1rem;
		overflow-y: hidden;
		margin-right: -2rem;
		margin-left: -2rem;
		padding: 0 2rem;
		@include media.md {
			gap: 2rem;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}

		.carousal-item {
			width: 12.5rem;
			cursor: pointer;
			@include media.md {
				width: calc(25% - 1.5rem);
			}
			@include media.lg {
				width: calc(20% - 1.6rem);
			}
			flex-shrink: 0;

			.poster {
				position: relative;
				width: 100%;
				aspect-ratio: 1 / 1.5;
				background-size: cover;
				background-position: center;
				margin-bottom: 3rem;
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				padding: 1rem;

				.lazy-load-image-background {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: 1.2rem;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}

				.circle-rating {
					position: relative;
					top: 3rem;
					flex-shrink: 0;
					@include media.md {
						width: 5rem;
						height: 5rem;
					}
				}

				.genres {
					display: none;
					position: relative;
					@include media.md {
						display: flex;
						flex-flow: wrap;
						justify-content: flex-end;
					}
				}
			}

			.text-block {
				color: white;
				display: flex;
				flex-direction: column;

				.title {
					font-size: 1.6rem;
					margin-bottom: 1rem;
					line-height: 2.4rem;
					@include media.ellipsis(1);
					@include media.md {
						font-size: 2rem;
					}
				}

				.date {
					font-size: 1.4rem;
					opacity: 0.5;
				}
			}
		}
	}
}
