.genres {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;

	&__genre {
		background-color: var(--pink);
		padding: 0.2rem 0.5rem;
		border-radius: 3rem;
		color: var(--white);
		white-space: nowrap;
	}
}
